@model Product

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form id="@Model.ProductID" asp-action="AddToCart" asp-controller="Order" method="post">
    <input type="hidden" asp-for="ProductID" />
    <p><u>Product ID</u>: @Model.ProductID</p>
    <p><u>Product</u>: @Model.Name</p>
    <p><u>Description</u>: @Model.Description</p>
    <p><u>Price</u>: $@Model.Price</p>
    <button type="submit" class="btn btn-success">Add to Cart</button>
    <br />
</form>
<a asp-action="Edit" asp-route-bookId="@Model.ProductID">Edit</a>